.bdColor {
    background-color: rgba(4, 0, 23, 0.745);
}

.bdCard {
    background-color: rgba(237, 237, 237, 0.833);
    height: 40vh;
}

.cardSize {
    max-width: 15vw;
}

footer {
    color: aliceblue;
    height: 10vh;
}

.margin {
    margin-bottom: 20px;
}

.paddingLeft {
    padding-left: 12.5%;
}

.paddingRight {
    padding-right: 12.5%;
}